// ==========================================================================
// ★ LOGIN/SIGNUP
// ========================================================================== 
.login {
  .forms-wrapper {
    @extend #home;
    .account-sidebar {
      max-height: inherit;
      &.login-form {
        float: left;
        .large-button {
          margin-top: 10px;
        }
      }
      &.signup-form {
        width: 60%;
        max-width: 675px;
        text-align: center;
        h3 {
          text-align: left;
        }
        input {
          margin: 0 10px 10px 0;
          &.full-width {
            width: 100%;
            max-width: 620px;
          } 
          @extend .input-holder;
          border: 1px solid #dcddde;
        }
        .italic {
          max-width: 300px;
          margin: 0 auto;
        }
      }
      .large-button {
        float: none;
        margin: 0 auto;
        font-size: 16px;
        font-weight: regular;
        color: #fff;
      }
      .medium-1 {
        position: relative;
        margin: 25px 0;
        padding: 0 30px;
        color: #66696c;
        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: 45%;
          height: 1px;
          background: #d6d6d6;
        }
        &:after {
          left: 55%;
        }
      }
      .body-3 {
        margin-top: 20px;
        color: #555;
      }
    }
  }
  .footer-promo {
    padding: 80px 20px;
    &.inner-wrap {
      overflow: visible;
    }
    h2 {
      position: relative;
      margin-bottom: 35px;
      color: #555;
      &:before {
        position: absolute;
        top: -3px;
        left: -65px;
        color: #66ccb5;
        text-shadow: 
          1px 1px 0 #5ebca6, 
          -1px -1px 0 #5ebca6, 
          1px -1px 0 #5ebca6, 
          -1px 1px 0 #5ebca6, 
          1px 1px 0 #5ebca6;
      }
    }
    p {
      color: #66696c;
    }
  }
}