// ==========================================================================
// ★ VARIABLES
// ==========================================================================

//Colors
$green: #5bb7a2;
$gray: #8f989c;
$darkGray: #66696c;

//Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

//Transitions
$transition: all ease-in-out .15s;
