// ==========================================================================
// ★ VARIABLES
// ==========================================================================
$green: #5bb7a2;
$gray: #8f989c;
$darkGray: #66696c;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$transition: all ease-in-out .15s;
