//Libraries/Resets/Helpers
@import "bourbon/bourbon";
@import "icons";

@import '_variables';
@import '_resets';
@import '_mixins';
@import '_helpers';

// ==========================================================================
// ★ BREAKPOINTS VARIABLES
// ==========================================================================
$tablet: 780px;
$mobile: 560px;



// ==========================================================================
// ★ GENERAL
// ==========================================================================
html,
body {
  font-family: 'Ubuntu', sans-serif !important;
  @include antialias;
}

#main-wrapper,
.banner,
.banner img,
#main {
  width: 100%;
}

.inner-wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  @include box-sizing(border-box);
}

.large-wrap {
  @extend .inner-wrap;
  max-width: 1200px;
}

//Hovers
a,
button,
label,
input,
textarea,
.i-right-arrow:before,
.input-holder {
  @include transition(all .2s ease-out);
}

#home .submit:hover,
.election-form form input[type="submit"]:hover {
  background: darken($green, 10%);
}
.candidate .social a.icon:hover,
.support:hover {
  color: darken($green, 10%);
}

.account-sidebar input[type="submit"]:hover,
.large-button:hover,
.account .large-button:hover {
  background: $green;
}
// .darken:hover {
//   background: darken(70%);
// }
// ==========================================================================
// ★ IMPORTS
// ========================================================================== 


//Page Styles
@import '_header';
@import '_home';
@import '_contests';
@import '_candidate';
@import '_proposition';
@import '_election-form';
@import '_your-ballot';
@import '_account';
@import '_login';
@import '_footer';
@import '_responsive';