@import "bourbon/bourbon";
@import "icons";
// ==========================================================================
// ★ VARIABLES
// ==========================================================================
$green: #5bb7a2;
$gray: #8f989c;
$darkGray: #66696c;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$transition: all ease-in-out .15s;
// ==========================================================================
// ★ RESETS
// ==========================================================================
div,
section,
aside,
input {
  @include box-sizing(border-box);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  line-height: .8;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
  font-weight: normal;
  color: $green;
}
// ==========================================================================
// ★ CUSTOM MIXINS
// ==========================================================================
@mixin opacity ( $value: 0.5 ) {
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
  filter: alpha(opacity= $value * 100 );
  zoom: 1;
}

@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}

@mixin before ($width, $height, $display: block, $position: absolute) {
  content: "";
  display: $display;
  position: $position;
  @include size($width $height);
}

@mixin antialias {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
// ==========================================================================
// ★ BREAKPOINTS VARIABLES
// ==========================================================================
$tablet: 950px;
$mobile: 550px;

// ==========================================================================
// ★ HELPERS
// ==========================================================================
.em {
  font-weight: $medium;
}

.italic {
  font-style: italic;
}

.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.clearfix {
  @include clearfix;
}

.header-1 {
  font-weight: $light;
  font-size: 56px;
}

.header-2 {
  font-weight: $light;
  font-size: 40px;
}

.header-3 {
  font-weight: $light;
  font-size: 30px;
}

// ==========================================================================
// ★ GENERAL
// ==========================================================================
html,
body {
  font-family: 'Ubuntu', sans-serif !important;
  @include antialias;
}

.inner-wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

// ==========================================================================
// ★ HEADER
// ==========================================================================
#header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 0;
  color: $darkGray;
  font-weight: $medium;
  font-size: 17px;
  overflow: hidden;
}
#logo {
  display: block;
  float: left;
  color: $green;
  font-weight: $medium;
  font-size: 36px;
  span {
    display: block;
    font-size: 14px;
    font-weight: $light;
    color: $gray;
    clear: left;
  }
}

#main-links {
  display: block;
  float: right;
  margin-top: 15px;
  overflow: visible;
  span,
  a {
    display: inline-block;
    margin-right: 15px;
    padding-right: 15px;
    color: #66696c;
    @include transition(color .15s ease-out);
  }
  .social {
    display: inline-block;
    overflow: visible;
  }
  .icon {
    position: relative;
    top: 10px;
    margin-right: 5px;
    padding-right: 0;
    @include size(32px);
    color: #dcddde;
    &:last-child {
      margin-right: 0;
    }
  }
  .icon:hover,
  a:hover {
    color: $green;
  }
  .account-link {
    border-right: 1px solid #dcdddd;
  }
}


// ==========================================================================
// ★ HOME PAGE
// ==========================================================================
#home {
  width: 100%;
  padding: 100px 0;
  background: url(../images/home-background.jpg) no-repeat;
  background-size: cover;
  h2 {
    margin: 0 0 30px 0;
    color: #555;
    font-size: 56px;
    font-weight: $light;
    text-align: center;
  }
  form {
    position: relative;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
  }
  .inline label {
    @include size(65px);
    float: left;
    display: block;
    background: $green;
    border-radius: 3px 0 0 3px;
  }
  .inline input[type=text] {
    display: block;
    float: left;
    padding-left: 25px;
    &.address {
      width: 310px;
    }
    &.city {
      width: 265px;
      
    }
    &.zipcode {
      width: 210px;

    }
  }
  .divider {
    position: relative;
    top: 9px;
    display: block;
    float: left;
    @include size(1px 49px);
    background: #bec0c2;
  }
  .submit {
    display: block;
    float: left;
    width: 148px;
    height: 65px;
    background: $green;
    padding-right: 40px;
    padding-left: 40px;
    color: #fff;
    font-weight: $light;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 0 3px 3px 0;
  }
  .find-your-ballot p {
    padding: 25px 25px 80px;
    font-weight: $light;
    color: #555;
    text-align: center;
    a {
      color: #555;
    }
  }
}

.promo {
  display: block;
  float: left;
  width: 60%;
  max-width: 627px;
  max-height: 300px;
  padding: 30px 35px 40px;
  @include linear-gradient(#373936, #3f434c, #464646);
  color: #fff;
  font-weight: $light;
  font-size: 14px;
  border-radius: 3px;
  h3 {
    font-weight: $light;
    font-size: 40px;
    span {
      font-weight: $medium;
    }
  }
  p {
    padding: 25px 0;
    line-height: 2;
  }
  .italic {
    padding: 5px 0;

  }
}

.account-sidebar {
  display: block;
  float: right;
  width: 38%;
  max-height: 300px;
  max-width: 360px;
  background: #fff;
  padding: 35px 30px 30px 35px;
  border-radius: 3px;
  h3 {
    display: inline-block;
    margin-bottom: 20px;
    color: #555;
    font-weight: $light;
    font-size: 40px;
  }
  a {
    display: block;
    float: right;
    margin-top: 17px;
    color: #555;
    font-size: 14px;
    font-weight: $bold;
  }
  form {
    overflow: visible;
  }
  .input-holder {
    display: block;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    &.focus {
      box-shadow: 0px 0px 5px $green;
      outline: 0;
      label {
        background: $green;
      }
      input {
        border: 1px solid $green;
      }
    }
    label {
      display: block;
      float: left;
      @include size(50px);
      display: block;
      background: #dcddde;
      border-radius: 3px 0 0 3px;
    }
  }
  .icon {
    font-size: 25px;
  }
  input {
    display: block;
    float: left;
    max-width: 245px;
    height: 50px;
    color: #a6a9ad;
    font-size: 16px;
    font-weight: $light;
    border: 1px solid #dcddde;
    border-radius: 0 3px 3px 0;

  }
  input[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 0;
    width: 100%;
    max-width: 100%;
    background: $darkGray;
    color: #fff;
    font-weight: $regular;
    text-transform: uppercase;
    border-radius: 3px;
  }
}

.banner {
  padding-top: 20px;
}

.footer-tagline {
  width: 100%;
  background: url(../images/footer-tagline-background.jpg) no-repeat;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: $light;
  h4 {
    text-transform: capitalize;
  }
}

// Forms
form {
  display: block;
}
input {
  margin: 0;
  padding: 20px 12px;
  border: none;
  color: #a6a9ad;
  font-weight: $light;
  font-size: 20px;
  &.icon {
    position: relative;
    padding-left: 65px;
    &:before {
      @include before(65px, 65px);
      background: $green;
    }
  }
}

// ==========================================================================
// ★ CONTEST LIST
// ==========================================================================
.contests {
  header {
    padding: 25px 0;
    background: #5bb7a2;
    color: #fff;
  }
  h3 {
    font-weight: $medium;
    font-size: 20px;
  }
}

.candidates-container {
  padding-top: 60px;
  background: #f9f9f9;
  overflow: hidden;
  h2 {
    display: block;
    float: left;
    padding-top: 10px; 
  }
  .list-view-container {
    display: block;
    float: right;
    button {
      margin-right: 10px;
    }
  }
}


.list-item {
  display: block;
  float: left;
  margin-top: 40px;
  background: #fff;
  box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.11);
  border-radius: 2px;
  @include box-sizing(border-box);
}

.grid-view {
  width: 23.23176%;
  max-width: 290px;
  margin-right: 2.35765%;
  margin-bottom: 10px;
  &:nth-of-type(4n+1) {
    margin-right: 0;
  }
}

.list-view {
  width: 45%;
  max-width: 580px;
  margin-right: 5%;
  margin-bottom: 50px;
  &:nth-of-type(2n+1) {
    margin-right: 0;
  }
  img {
    display: none;
  }
}