@font-face {
  font-family: "voterguide-icons";
  src: url("../icons/voterguide-icons.eot");
  src: url("../icons/voterguide-icons.eot?#iefix") format("embedded-opentype"), url("../icons/voterguide-icons.woff") format("woff"), url("../icons/voterguide-icons.ttf") format("truetype"), url("../icons/voterguide-icons.svg#voterguide-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "voterguide-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="i-"]:before,
[class*=" i-"]:before {
  font-family: "voterguide-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon {
  position: relative;
  width: 55px;
  height: 55px;
  color: #fff;
  overflow: hidden;
  -webkit-border-radius: 3px;
  font-size: 32px; }
  .icon.centered:before {
    display: block;
    text-align: center;
    line-height: 2; }

.i-gallery-view:before {
  content: "a"; }

.i-left-arrow:before {
  content: "b"; }

.i-cog:before {
  content: "c"; }

.i-facebook:before {
  content: "d"; }

.i-right-arrow:before {
  content: "e"; }

.i-measure-yes:before {
  content: "f"; }

.i-measure-no:before {
  content: "g"; }

.i-lock:before {
  content: "h"; }

.i-location-pin:before {
  content: "i"; }

.i-linkedin:before {
  content: "j"; }

.i-instagram:before {
  content: "k"; }

.i-info:before {
  content: "l"; }

.i-google:before {
  content: "m"; }

.i-favorite-saved:before {
  content: "n"; }

.i-star:before {
  content: "o"; }

.i-support:before {
  content: "p"; }

.i-twitter:before {
  content: "q"; }

.i-user-1:before {
  content: "r"; }

.i-user-2:before {
  content: "s"; }

.i-vimeo:before {
  content: "t"; }

.i-link:before {
  content: "u"; }

.i-list-view:before {
  content: "v"; }

.i-youtube:before {
  content: "w"; }

div,
section,
aside,
input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  line-height: .8; }

p {
  margin: 0;
  padding: 0;
  line-height: 1.5; }

a {
  text-decoration: none;
  font-weight: normal;
  color: #5bb7a2; }

a:focus,
button:focus,
input:focus {
  outline: none; }

.input-holder, .login .forms-wrapper .account-sidebar.signup-form input {
  border: 1px transparent; }
  .input-holder:focus, .login .forms-wrapper .account-sidebar.signup-form input:focus {
    border: 1px solid #5bb7a2;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(20, 185, 214, 0.45);
    -moz-box-shadow: 0px 0px 10px 0px rgba(20, 185, 214, 0.45);
    box-shadow: 0px 0px 10px 0px rgba(20, 185, 214, 0.45);
    outline: none; }

.em {
  font-weight: 500; }

.italic {
  font-style: italic; }

.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

.left {
  display: block;
  float: left; }

.right {
  display: block;
  float: right; }

.header-1 {
  font-weight: 300;
  font-size: 56px; }

.header-2 {
  font-weight: 300;
  font-size: 40px; }

.header-3 {
  font-weight: 300;
  font-size: 30px; }

.header-4 {
  font-weight: 500;
  font-size: 20px; }

.header-4-light {
  font-weight: 300;
  font-size: 22px; }

.header-5 {
  font-weight: 700;
  font-size: 16px; }

.body-1, .candidate .biography h5 {
  font-weight: 400;
  font-size: 18px; }

.body-1-medium {
  font-weight: 500;
  font-size: 18px; }

.body-1-light, .candidate .contributors .graph-key p {
  font-weight: 300;
  font-size: 18px; }

.body-2, .list-content {
  font-weight: 400;
  font-size: 15px; }

.body-3 {
  font-weight: 300;
  font-size: 14px; }

.medium-1, .account-item label, .account-item button,
.account-item input {
  font-weight: 500;
  font-size: 16px; }

.large-button {
  display: block;
  height: 50px;
  width: 300px;
  max-width: 100%;
  background: #474747;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  line-height: 50px; }
  .large-button:hover {
    background: #5bb7a2; }
  .large-button.fb {
    background: #507cbe; }
    .large-button.fb:hover {
      background: #4971ae; }

.col-2 {
  width: 48%;
  margin-right: 2%;
  float: left; }
  .col-2:last-child {
    margin-right: 0; }

html,
body {
  font-family: 'Ubuntu', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }

#main-wrapper,
.banner,
.banner img,
#main {
  width: 100%; }

.inner-wrap, .large-wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.large-wrap {
  max-width: 1200px; }

#header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 20px;
  color: #66696c;
  font-weight: 500;
  font-size: 17px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#logo {
  display: block;
  float: left;
  color: #5bb7a2;
  font-weight: 500;
  font-size: 36px; }
  #logo span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: #8f989c;
    clear: left; }

.close-button,
.menu-button {
  display: none; }

#main-links, .candidate .social {
  display: block;
  float: right;
  margin-top: 15px;
  overflow: visible; }
  #main-links span, .candidate .social span,
  #main-links a,
  .candidate .social a {
    display: inline-block;
    margin-right: 15px;
    padding-right: 15px;
    color: #66696c;
    -webkit-transition: color 0.15s ease-out;
    -moz-transition: color 0.15s ease-out;
    transition: color 0.15s ease-out; }
  #main-links .social, .candidate .social .social {
    display: inline-block;
    overflow: visible; }
  #main-links .icon, .candidate .social .icon {
    position: relative;
    top: 10px;
    margin-right: 5px;
    padding-right: 0;
    height: 32px;
    width: 32px;
    color: #dcddde; }
    #main-links .icon:last-child, .candidate .social .icon:last-child {
      margin-right: 0; }
  #main-links .icon:hover, .candidate .social .icon:hover,
  #main-links a:hover,
  .candidate .social a:hover {
    color: #5bb7a2; }
  #main-links .account-link, .candidate .social .account-link {
    border-right: 1px solid #dcdddd; }

#home, .login .forms-wrapper {
  width: 100%;
  padding: 100px 0;
  background: url(../images/home-background.jpg) no-repeat;
  background-size: cover; }
  #home h2, .login .forms-wrapper h2 {
    margin: 0 0 30px 0;
    color: #555;
    font-size: 56px;
    font-weight: 300;
    text-align: center; }
  #home form, .login .forms-wrapper form {
    position: relative;
    background: #fff;
    border-radius: 3px;
    overflow: hidden; }
  #home .inline label, .login .forms-wrapper .inline label {
    height: 65px;
    width: 65px;
    float: left;
    display: block;
    background: #5bb7a2;
    border-radius: 3px 0 0 3px; }
  #home .inline input[type=text], .login .forms-wrapper .inline input[type=text] {
    display: block;
    float: left;
    padding-left: 25px; }
    #home .inline input[type=text].address, .login .forms-wrapper .inline input[type=text].address {
      max-width: 310px;
      width: 30%; }
    #home .inline input[type=text].city, .login .forms-wrapper .inline input[type=text].city {
      max-width: 265px;
      width: 20%; }
    #home .inline input[type=text].zipcode, .login .forms-wrapper .inline input[type=text].zipcode {
      max-width: 210px;
      width: 20%; }
  #home .divider, .login .forms-wrapper .divider {
    position: relative;
    top: 9px;
    display: block;
    float: left;
    height: 49px;
    width: 1px;
    background: #bec0c2; }
  #home .submit, .login .forms-wrapper .submit {
    display: block;
    float: right;
    max-width: 148px;
    width: 15%;
    height: 65px;
    background: #5bb7a2;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 0 3px 3px 0; }
  #home .find-your-ballot p, .login .forms-wrapper .find-your-ballot p {
    padding: 25px 25px 80px;
    font-weight: 300;
    color: #555;
    text-align: center; }
    #home .find-your-ballot p a, .login .forms-wrapper .find-your-ballot p a {
      color: #555; }

.promo {
  display: block;
  float: left;
  width: 60%;
  max-width: 627px;
  max-height: 300px;
  padding: 30px 35px 40px;
  background-color: #373936;
  background-image: -webkit-linear-gradient(#373936, #3f434c, #464646);
  background-image: linear-gradient(#373936, #3f434c, #464646);
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  border-radius: 3px; }
  .promo h3 {
    font-weight: 300;
    font-size: 40px; }
    .promo h3 span {
      font-weight: 500; }
  .promo p {
    padding: 25px 0;
    line-height: 2; }
  .promo .italic {
    padding: 5px 0; }

.account-sidebar {
  display: block;
  float: right;
  width: 38%;
  max-height: 300px;
  max-width: 360px;
  background: #fff;
  padding: 35px 30px 30px 35px;
  border-radius: 3px; }
  .account-sidebar h3 {
    display: inline-block;
    margin-bottom: 20px;
    color: #555;
    font-weight: 300;
    font-size: 40px; }
  .account-sidebar a {
    display: block;
    float: right;
    margin-top: 17px;
    color: #555;
    font-size: 14px;
    font-weight: 700; }
  .account-sidebar form {
    overflow: visible; }
  .account-sidebar .input-holder, .login .forms-wrapper .account-sidebar.signup-form input {
    display: block;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden; }
    .account-sidebar .input-holder.focus, .login .forms-wrapper .account-sidebar.signup-form input.focus {
      box-shadow: 0px 0px 5px #5bb7a2;
      outline: 0; }
      .account-sidebar .input-holder.focus label, .login .forms-wrapper .account-sidebar.signup-form input.focus label {
        background: #5bb7a2; }
      .account-sidebar .input-holder.focus input, .login .forms-wrapper .account-sidebar.signup-form input.focus input {
        border: 1px solid #5bb7a2; }
    .account-sidebar .input-holder label, .login .forms-wrapper .account-sidebar.signup-form input label {
      display: block;
      float: left;
      max-width: 50px;
      height: 50px;
      width: 19%;
      display: block;
      background: #dcddde;
      border-radius: 3px 0 0 3px; }
  .account-sidebar .icon {
    font-size: 25px; }
  .account-sidebar input {
    display: block;
    float: left;
    max-width: 245px;
    width: 81%;
    height: 50px;
    color: #a6a9ad;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #dcddde;
    border-radius: 0 3px 3px 0; }
  .account-sidebar input[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 0;
    width: 100%;
    max-width: 100%;
    background: #66696c;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 3px; }

.banner {
  padding-top: 20px; }

.footer-tagline {
  width: 100%;
  background: url(../images/footer-tagline-background.jpg) no-repeat;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: 300; }
  .footer-tagline h4 {
    text-transform: capitalize; }

form {
  display: block; }

input {
  margin: 0;
  padding: 20px 12px;
  border: none;
  color: #a6a9ad;
  font-weight: 300;
  font-size: 20px; }
  input.icon {
    position: relative;
    padding-left: 65px; }
    input.icon:before {
      content: "";
      display: block;
      position: absolute;
      height: 65px;
      width: 65px;
      background: #5bb7a2; }

.contests header {
  padding: 25px 0;
  background: #5bb7a2;
  color: #fff; }
.contests h3 {
  padding-left: 10px;
  font-weight: 500;
  font-size: 20px; }

.content-block {
  padding: 60px 0;
  background: #f9f9f9;
  overflow: hidden;
  color: #555; }
  .content-block h2 {
    display: block;
    float: left;
    padding: 10px 0 0 10px; }
  .content-block .list-view-controls {
    display: block;
    float: right;
    padding-right: 10px; }
    .content-block .list-view-controls button {
      position: relative;
      margin-right: 10px;
      height: 50px;
      width: 50px;
      background: none;
      color: #dcddde; }
      .content-block .list-view-controls button:hover, .content-block .list-view-controls button.active {
        color: #c5c6c8; }
      .content-block .list-view-controls button:before {
        position: absolute;
        top: -2px;
        left: -2px;
        font-size: 54px; }

.list-container {
  width: 100%;
  padding-top: 40px; }

.list-item {
  display: block;
  float: left;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.11);
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .list-item .more-info {
    position: relative;
    display: block;
    float: right;
    height: 45px;
    width: 45px;
    margin-top: -26px;
    color: #dcddde; }
    .list-item .more-info:before {
      position: absolute;
      top: -3px;
      left: -3px;
      font-size: 51px; }
    .list-item .more-info:hover {
      color: #5bb7a2; }
  .list-item .candidate-action {
    display: inline-block;
    color: #aeaeae; }
    .list-item .candidate-action:hover,
    .list-item .candidate-action .active {
      color: #5bb7a2; }
  .list-item .i-star:before {
    position: relative;
    top: 3px;
    margin-right: 5px;
    font-size: 18px; }

.list-content {
  padding: 25px 30px;
  text-transform: capitalize; }
  .list-content h4 {
    margin-bottom: 10px; }
  .list-content p {
    display: inline-block; }
    .list-content p:after {
      content: "";
      display: inline-block;
      position: relative;
      height: 14px;
      width: 1px;
      background: #555;
      margin: 0 5px 0 7px;
      top: 2px; }

.list-container .list-item {
  max-width: 290px;
  margin-right: 10px; }
  .list-container .list-item:nth-of-type(4n) {
    margin-right: 0; }
.list-container.list-view .list-item {
  width: 47.5%;
  max-width: 580px;
  margin-right: 5%; }
  .list-container.list-view .list-item:nth-of-type(2n) {
    margin-right: 0; }
  .list-container.list-view .list-item img {
    display: none; }

.candidate {
  color: #555; }
  .candidate.candidate {
    padding-bottom: 0px; }
  .candidate .i-left-arrow {
    padding-left: 85px;
    position: relative;
    overflow: visible; }
    .candidate .i-left-arrow:before {
      position: absolute;
      top: -10px;
      left: 0;
      font-size: 75px; }
    .candidate .i-left-arrow p {
      margin-top: 10px;
      color: #e2e2e2; }
  .candidate .candidate-header {
    margin-top: 50px; }
  .candidate .candidate-info {
    margin-left: 45px; }
    .candidate .candidate-info h4 {
      margin: 15px 0 0; }
    .candidate .candidate-info.i-star {
      position: relative;
      padding-left: 65px; }
      .candidate .candidate-info.i-star:before {
        position: absolute;
        left: 0;
        font-size: 60px;
        color: #f9f9f9;
        -webkit-text-stroke: 1px #cececf;
        text-shadow: 1px 1px 0 #cececf, -1px -2px 0 #cececf,   1px -1px 0 #cececf, -1px 1px 0 #cececf, 1px 1px 0 #cececf; }
  .candidate .social {
    float: none; }
    .candidate .social .icon {
      color: #5bb7a2;
      height: 50px;
      width: 42px; }
      .candidate .social .icon:before {
        font-size: 42px; }
  .candidate .candidate-content {
    background: #f9f9f9;
    border-top: 1px solid #dcddde;
    border-bottom: 1px solid #dcddde; }
    .candidate .candidate-content .inner-wrap, .candidate .candidate-content .large-wrap {
      padding: 80px 0; }
  .candidate nav {
    display: block;
    float: left;
    width: 285px;
    margin-right: 45px;
    border-right: 1px solid #e6e6e6; }
    .candidate nav a {
      position: relative;
      display: block;
      padding: 22px 40px;
      color: #5e676b;
      font-size: 19px;
      font-weight: 700;
      border-bottom: 1px solid #e6e6e6;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .candidate nav a:last-child {
        border-bottom: none; }
      .candidate nav a:hover, .candidate nav a.active {
        background: #e6e6e6;
        color: #5bb7a2; }
        .candidate nav a:hover:before, .candidate nav a.active:before {
          color: #5bb7a2; }
      .candidate nav a:before {
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -18px;
        color: #f9f9f9;
        font-size: 36px; }
  .candidate .content-container {
    display: none; }
    .candidate .content-container.active {
      display: block; }
    .candidate .content-container h4 {
      margin-bottom: 25px; }
  .candidate .notes {
    background: #fff;
    padding: 55px 0 80px; }
    .candidate .notes h3 {
      margin-bottom: 35px; }
    .candidate .notes textarea {
      width: 100%;
      height: 245px;
      padding: 30px;
      border: 1px solid #e9e9e9;
      font-weight: 300;
      resize: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
  .candidate .statement p {
    margin-bottom: 40px;
    line-height: 1.8; }
  .candidate .biography {
    background: #f9f9f9; }
    .candidate .biography h5 {
      padding: 15px;
      background: #f0f0f0; }
    .candidate .biography .content-wrapper {
      padding: 15px 20px; }
    .candidate .biography p {
      color: #5bb7a2; }
    .candidate .biography ul {
      list-style: none; }
    .candidate .biography li {
      position: relative;
      color: #8c8c8c;
      line-height: 2; }
      .candidate .biography li:before {
        content: '\25b6';
        display: block;
        position: absolute;
        left: -33px;
        color: #5bb7a2;
        font-size: 10px;
        line-height: 3.25; }
  .candidate .video-container {
    padding: 10px 0 0 10px;
    background: #fff; }
    .candidate .video-container a {
      display: block;
      width: 161px;
      float: left;
      margin: 0 10px 25px 0; }
    .candidate .video-container img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 5px; }
    .candidate .video-container p {
      color: #000;
      font-size: 12px; }
  .candidate .contributors .column {
    width: 505px;
    max-width: 100%;
    margin-right: 35px;
    float: left; }
    .candidate .contributors .column:last-child {
      margin-right: 0; }
    .candidate .contributors .column.financial-info {
      width: 325px; }
  .candidate .contributors ul {
    padding: 0;
    border: 1px solid #f1f1f1; }
  .candidate .contributors li {
    padding: 15px 20px;
    background: #fcfcfc;
    list-style-type: none; }
    .candidate .contributors li:nth-child(even) {
      background: #ededed; }
  .candidate .contributors .amount {
    float: right;
    color: #5dbba5; }
  .candidate .contributors .graph-key {
    padding: 35px 25px 25px; }
    .candidate .contributors .graph-key p {
      position: relative;
      display: block;
      width: 50%;
      float: left;
      margin-bottom: 15px;
      padding-left: 35px;
      line-height: .8;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .candidate .contributors .graph-key p:before {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        height: 18px;
        width: 18px; }
      .candidate .contributors .graph-key p.donations:before {
        background: #5dbba5; }
      .candidate .contributors .graph-key p.fundraising:before {
        background: #729093; }
      .candidate .contributors .graph-key p.personal:before {
        background: #ffc600; }
      .candidate .contributors .graph-key p.other:before {
        background: #e76049; }

.proposition .left {
  width: 100%;
  max-width: 50%;
  float: left;
  padding: 0 75px 0 10px; }
  .proposition .left h2 {
    padding: 0;
    float: none; }
  .proposition .left p {
    padding: 50px 0 40px;
    line-height: 1.9; }
.proposition .right {
  width: 100%;
  max-width: 50%; }
  .proposition .right .list-item:first-child {
    margin-right: 10px; }
  .proposition .right span {
    position: relative;
    display: block;
    height: 232px;
    width: 290px;
    color: #8f989c;
    background: #dcddde;
    text-align: center; }
    .proposition .right span:before {
      position: relative;
      top: 17px;
      font-size: 205px; }
  .proposition .right h4 {
    display: block; }
    .proposition .right h4:after {
      display: none; }

.proposition {
  background: #f9f9f9; }

.election-form {
  width: 100%;
  padding: 35px 0;
  background: #474747;
  color: #fff;
  overflow: hidden; }
  .election-form h2 {
    margin-bottom: 10px;
    font-family: 400;
    font-size: 30px; }
  .election-form .left {
    max-width: 700px;
    width: 60%; }
  .election-form .right {
    max-width: 410px;
    width: 40%; }
  .election-form form {
    position: relative; }
    .election-form form input[type="email"] {
      display: block;
      float: left;
      padding: 15px 20px;
      border-radius: 2px 0 0 2px; }
    .election-form form input[type="submit"] {
      display: block;
      float: left;
      padding: 15px 20px;
      background: #5bb7a2;
      color: #fff;
      text-transform: uppercase;
      border-radius: 0 2px 2px 0; }

.your-ballot {
  background: url(../images/your-ballot-background.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  padding: 40px 0; }
  .your-ballot .large-wrap {
    padding: 0 10px; }
  .your-ballot .left {
    max-width: 800px;
    width: 60%;
    float: left; }
  .your-ballot .right {
    max-width: 345px;
    width: 30%;
    float: right; }
    .your-ballot .right h2 {
      text-transform: capitalize; }
    .your-ballot .right p {
      position: relative;
      width: 100%;
      padding: 20px 20px 20px 90px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .your-ballot .right p:before {
        position: absolute;
        left: -3px;
        margin-top: -2px;
        font-size: 80px;
        color: #5bb7a2; }
    .your-ballot .right .large-button {
      width: 100%; }
  .your-ballot h2 {
    float: none;
    padding: 0 0 30px; }

.account, .candidate {
  padding-bottom: 150px; }
  .account header, .candidate header {
    background: url(../images/your-ballot-background.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    padding: 40px 0; }
  .account .tagline, .candidate .tagline {
    padding-top: 60px;
    color: #555; }
    .account .tagline p, .candidate .tagline p {
      line-height: 1.8; }
  .account .large-button, .candidate .large-button {
    margin: 20px 0 40px;
    background: #66696c; }

.account-item {
  display: block;
  width: 45%;
  max-width: 500px;
  float: left;
  margin: 50px 5% 0 0;
  overflow: visible; }
  .account-item:nth-child(even) {
    margin-right: 0; }
  .account-item h2 {
    display: block;
    float: left;
    padding-bottom: 25px; }
  .account-item .sub-link {
    position: relative;
    top: 10px;
    display: block;
    float: right;
    color: #555;
    padding-right: 30px; }
    .account-item .sub-link:before {
      position: absolute;
      top: -2px;
      right: 0;
      color: #5bb7a2;
      font-size: 20px; }
  .account-item .input-holder, .account-item .login .forms-wrapper .account-sidebar.signup-form input, .login .forms-wrapper .account-sidebar.signup-form .account-item input {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    height: 45px;
    background: #fcfcfc;
    padding: 0px 30px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .account-item .input-holder.focus, .account-item .login .forms-wrapper .account-sidebar.signup-form input.focus, .login .forms-wrapper .account-sidebar.signup-form .account-item input.focus {
      background: #ededed; }
  .account-item label {
    display: block;
    float: left;
    max-width: 110px;
    width: 35%;
    padding: 15px 0;
    color: #a6a9ad;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .account-item button,
  .account-item input {
    display: block;
    float: right;
    max-width: 280px;
    width: 65%;
    padding: 15px 12px;
    color: #555;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .account-item button {
    text-align: left;
    height: 48px;
    border: none; }

.login .forms-wrapper .account-sidebar {
  max-height: inherit; }
  .login .forms-wrapper .account-sidebar.login-form {
    float: left; }
    .login .forms-wrapper .account-sidebar.login-form .large-button {
      margin-top: 10px; }
  .login .forms-wrapper .account-sidebar.signup-form {
    width: 60%;
    max-width: 675px;
    text-align: center; }
    .login .forms-wrapper .account-sidebar.signup-form h3 {
      text-align: left; }
    .login .forms-wrapper .account-sidebar.signup-form input {
      margin: 0 10px 10px 0;
      border: 1px solid #dcddde; }
      .login .forms-wrapper .account-sidebar.signup-form input.inline {
        margin: 0 5% 10px 0;
        width: 47%; }
        .login .forms-wrapper .account-sidebar.signup-form input.inline.last-name {
          margin-right: 0;
          width: 48%; }
      .login .forms-wrapper .account-sidebar.signup-form input.full-width {
        width: 100%;
        max-width: 620px; }
    .login .forms-wrapper .account-sidebar.signup-form .italic {
      max-width: 300px;
      margin: 0 auto; }
  .login .forms-wrapper .account-sidebar .large-button {
    float: none;
    margin: 0 auto;
    font-size: 16px;
    font-weight: regular;
    color: #fff; }
  .login .forms-wrapper .account-sidebar .medium-1, .login .forms-wrapper .account-sidebar .account-item label, .account-item .login .forms-wrapper .account-sidebar label, .login .forms-wrapper .account-sidebar .account-item button, .account-item .login .forms-wrapper .account-sidebar button,
  .login .forms-wrapper .account-sidebar .account-item input,
  .account-item .login .forms-wrapper .account-sidebar input {
    position: relative;
    margin: 25px 0;
    padding: 0 30px;
    color: #66696c; }
    .login .forms-wrapper .account-sidebar .medium-1:before, .login .forms-wrapper .account-sidebar .account-item label:before, .account-item .login .forms-wrapper .account-sidebar label:before, .login .forms-wrapper .account-sidebar .account-item button:before, .account-item .login .forms-wrapper .account-sidebar button:before,
    .login .forms-wrapper .account-sidebar .account-item input:before,
    .account-item .login .forms-wrapper .account-sidebar input:before, .login .forms-wrapper .account-sidebar .medium-1:after, .login .forms-wrapper .account-sidebar .account-item label:after, .account-item .login .forms-wrapper .account-sidebar label:after, .login .forms-wrapper .account-sidebar .account-item button:after, .account-item .login .forms-wrapper .account-sidebar button:after,
    .login .forms-wrapper .account-sidebar .account-item input:after,
    .account-item .login .forms-wrapper .account-sidebar input:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 45%;
      height: 1px;
      background: #d6d6d6; }
    .login .forms-wrapper .account-sidebar .medium-1:after, .login .forms-wrapper .account-sidebar .account-item label:after, .account-item .login .forms-wrapper .account-sidebar label:after, .login .forms-wrapper .account-sidebar .account-item button:after, .account-item .login .forms-wrapper .account-sidebar button:after,
    .login .forms-wrapper .account-sidebar .account-item input:after,
    .account-item .login .forms-wrapper .account-sidebar input:after {
      left: 55%; }
  .login .forms-wrapper .account-sidebar .body-3 {
    margin-top: 20px;
    color: #555; }
.login .footer-promo {
  padding: 80px 20px; }
  .login .footer-promo.inner-wrap, .login .footer-promo.large-wrap {
    overflow: visible; }
  .login .footer-promo h2 {
    position: relative;
    margin-bottom: 35px;
    color: #555; }
    .login .footer-promo h2:before {
      position: absolute;
      top: -3px;
      left: -65px;
      color: #66ccb5;
      text-shadow: 1px 1px 0 #5ebca6,  -1px -1px 0 #5ebca6,  1px -1px 0 #5ebca6,  -1px 1px 0 #5ebca6,  1px 1px 0 #5ebca6; }
  .login .footer-promo p {
    color: #66696c; }

#footer {
  width: 100%;
  background: #363636;
  padding: 30px 0; }

.footer-logo {
  display: block;
  height: 18px;
  width: 210px;
  background: url(../images/footer-logo.png) no-repeat; }

.copyright {
  color: #868686;
  font-style: italic; }

.support {
  position: relative;
  padding-right: 60px;
  display: block;
  float: right; }
  .support:before {
    position: absolute;
    right: 0;
    top: -20px;
    font-size: 44px; }

@media only screen and (max-width: 780px) {
  h1, h2, h3, h4, h5 {
    line-height: 1.2; }

  #logo {
    margin-left: 50px; }

  .show-menu {
    overflow: hidden; }
    .show-menu #main-wrapper:before {
      display: block; }

  .show-menu #main-wrapper:before {
    opacity: 1;
    -webkit-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    transition: opacity 0.8s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

  #main-wrapper:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    content: '';
    opacity: 0;
    display: none;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
    -moz-transition: opacity 0.4s, -moz-transform 0s 0.4s;
    transition: opacity 0.4s, transform 0s 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

  .menu-button {
    display: block;
    position: absolute;
    z-index: 1000;
    margin: 15px 0 0;
    padding: 0;
    width: 1.5em;
    height: 1.25em;
    border: none;
    text-indent: 2.5em;
    font-size: 1em;
    color: transparent;
    background: transparent; }
    .menu-button:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(#5bb7a2 20%, transparent 20%, transparent 40%, #5bb7a2 40%, #5bb7a2 60%, transparent 60%, transparent 80%, #5bb7a2 80%); }

  .show-menu #main-links, .show-menu .candidate .social, .candidate .show-menu .social,
  .show-menu #main-links span,
  .show-menu .candidate .social span,
  .candidate .show-menu .social span,
  .show-menu #main-links a,
  .show-menu .candidate .social a,
  .candidate .show-menu .social a {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.8s;
    -moz-transition: -moz-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

  .show-menu #main-links, .show-menu .candidate .social, .candidate .show-menu .social {
    -webkit-transform: translate3d(-20px, 0, 0);
    -moz-transform: translate3d(-20px, 0, 0);
    -ms-transform: translate3d(-20px, 0, 0);
    -o-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0); }

  .show-menu #main-links a, .show-menu .candidate .social a, .candidate .show-menu .social a,
  .show-menu #main-links span,
  .show-menu .candidate .social span,
  .candidate .show-menu .social span {
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s; }

  .close-button {
    position: absolute;
    display: block;
    width: 1em;
    height: 1em;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 1em;
    font-size: 0.75em;
    border: none;
    background: transparent;
    color: transparent; }
    .close-button:before, .close-button:after {
      content: '';
      position: absolute;
      width: 3px;
      height: 100%;
      top: 0;
      left: 50%;
      background: #bdc3c7; }
    .close-button:before {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .close-button:after {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

  #main-links, .candidate .social {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 2.5em 1.5em 0;
    background: #383A38;
    font-size: 1.15em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(-320px, 0, 0);
    -moz-transform: translate3d(-320px, 0, 0);
    -ms-transform: translate3d(-320px, 0, 0);
    -o-transform: translate3d(-320px, 0, 0);
    transform: translate3d(-320px, 0, 0);
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    z-index: 1001; }
    #main-links .account-link, .candidate .social .account-link {
      border-right: 0; }
    #main-links a, .candidate .social a,
    #main-links span,
    .candidate .social span {
      display: block;
      padding: 0.8em;
      color: #fff;
      -webkit-transform: translate3d(0, 500px, 0);
      -moz-transform: translate3d(0, 500px, 0);
      -ms-transform: translate3d(0, 500px, 0);
      -o-transform: translate3d(0, 500px, 0);
      transform: translate3d(0, 500px, 0); }
    #main-links .social, .candidate .social .social {
      display: block;
      text-align: center; }
      #main-links .social span, .candidate .social .social span {
        padding: .8em .8em 0 .8em;
        text-align: left; }
      #main-links .social a, .candidate .social .social a {
        display: inline-block;
        top: 0;
        padding: .25em .25em 0 0; }

  .promo,
  .login .forms-wrapper .account-sidebar.signup-form,
  .login .forms-wrapper .account-sidebar.signup-form input.full-width,
  .account-sidebar {
    float: none;
    max-width: 100%;
    width: 100%; }

  .promo {
    max-height: inherit;
    margin-bottom: 10px; }

  .account-sidebar {
    margin-bottom: 25px; }
    .account-sidebar p {
      text-align: center; }

  .login .forms-wrapper .account-sidebar.signup-form .italic {
    margin-top: 20px; }

  .account-sidebar .input-holder label, .login .forms-wrapper .account-sidebar.signup-form input label,
  .login .forms-wrapper .account-sidebar.signup-form input label {
    max-width: 10%;
    width: 10%; }

  .account-sidebar input {
    max-width: 620px;
    width: 90%; }

  .your-ballot .left {
    width: 55%; }

  .your-ballot .right {
    width: 40%; } }
@media only screen and (max-width: 560px) {
  html, body {
    overflow-x: hidden; }

  .election-form .left,
  .election-form .right,
  .your-ballot .left,
  .your-ballot .right,
  .proposition .left,
  .proposition .right,
  .login .forms-wrapper .account-sidebar.signup-form,
  .list-item,
  .account-item,
  .large-button,
  .col-2,
  img,
  .left,
  .right {
    float: none;
    max-width: 100%;
    width: 100%; }

  .left {
    margin-bottom: 15px; }

  #home .inline label, .login .forms-wrapper .inline label {
    display: none; }
  #home .inline input[type=text], .login .forms-wrapper .inline input[type=text] {
    display: block;
    float: none;
    padding-left: 25px;
    border-bottom: 1px solid #bec0c2; }
    #home .inline input[type=text].address, .login .forms-wrapper .inline input[type=text].address {
      max-width: 100%;
      width: 100%; }
    #home .inline input[type=text].city, .login .forms-wrapper .inline input[type=text].city {
      max-width: 100%;
      width: 100%; }
    #home .inline input[type=text].zipcode, .login .forms-wrapper .inline input[type=text].zipcode {
      max-width: 100%;
      width: 100%; }
  #home .divider, .login .forms-wrapper .divider {
    display: none; }
  #home .submit, .login .forms-wrapper .submit {
    float: none;
    max-width: 100%;
    width: 100%;
    border-radius: 0 0 3px 3px; }

  .account-sidebar .input-holder label, .login .forms-wrapper .account-sidebar.signup-form input label {
    max-width: inherit;
    width: 24%; }
  .account-sidebar input {
    width: 75%; }

  .election-form p {
    margin-bottom: 20px; }
  .election-form form input[type="email"] {
    width: 70%; }
  .election-form form input[type="submit"] {
    width: 30%;
    padding: 15px 0;
    text-align: center; }

  .footer-tagline {
    padding: 20px;
    background-size: cover; }

  .your-ballot .right p:before {
    margin-top: -15px; }

  .your-ballot .large-wrap {
    padding: 0 20px; }
  .your-ballot .right p {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .content-block h2 {
    padding-top: 0; }
  .content-block .list-view-controls {
    padding-right: 0;
    padding-top: 15px; }
    .content-block .list-view-controls button {
      height: 26px;
      width: 26px;
      margin-right: 5px; }
      .content-block .list-view-controls button:before {
        font-size: 26px; }

  .list-container .list-item,
  .list-container.list-view .list-item {
    float: none;
    max-width: 100%;
    width: 100%; }
    .list-container .list-item img,
    .list-container.list-view .list-item img {
      width: 100%;
      height: auto; }

  .proposition .left {
    margin-bottom: 15px;
    padding: 0; }
  .proposition .right span {
    width: 100%;
    height: auto; }

  .account-item .input-holder, .account-item .login .forms-wrapper .account-sidebar.signup-form input, .login .forms-wrapper .account-sidebar.signup-form .account-item input {
    padding: 0px 15px;
    background: #ededed;
    border-bottom: 1px solid #bec0c2; }
    .account-item .input-holder:last-child, .account-item .login .forms-wrapper .account-sidebar.signup-form input:last-child, .login .forms-wrapper .account-sidebar.signup-form .account-item input:last-child {
      border-bottom: none; }
    .account-item .input-holder.focus, .account-item .login .forms-wrapper .account-sidebar.signup-form input.focus, .login .forms-wrapper .account-sidebar.signup-form .account-item input.focus {
      background: #bec0c2; }
  .account-item label {
    width: 20%; }
    .account-item label.radio {
      width: 35%; }
  .account-item input {
    width: 80%; }
    .account-item input.radio {
      width: 65%; }

  .candidate .candidate-info {
    margin-left: 0; }
  .candidate nav {
    width: 100%;
    float: none; }
  .candidate .content-container {
    padding: 20px; }
  .candidate .video-container a {
    float: none;
    width: 100%; }
  .candidate .notes textarea {
    height: auto; }

  .login .account-sidebar input.first-name, .login .account-sidebar input.last-name {
    width: 100%; }

  .copyright {
    margin: 15px 0; } }

/*# sourceMappingURL=global.css.map */
