<div class="candidate">
  <div class="full-width">
    <header>    
      <div class="inner-wrap i-left-arrow">
        <h2 class="header-2 ">Your Ballot</h2>
        <p class="body-1-light">General Election | Federal President</p>
      </div>
    </header>
  </div>

  <div class="large-wrap candidate-header">
    <div class="left">
      <img src="http://www.placecage.com/c/290/232" alt="" width="290" height="232">
    </div>
    <div class="left candidate-info i-star">
      <div class="candidate-title">
        <h3 class="header-2">Barack Obama</h3>
        <h4 class="header-4-light">U.S. President</h4>
      </div>
      <div class="social">
        <a href="#!" class="icon i-twitter" title="Twitter"></a>
        <a href="#!" class="icon i-facebook" title="Facebook"></a>
        <a href="#!" class="icon i-linkedin" title="LinkedIn"></a>
        <a href="#!" class="icon i-google" title="Google+"></a>
      </div>
    </div>
  </div>
  <div class="candidate-content">
    <div class="large-wrap">
      <nav>
        <a href="#!" class="i-right-arrow active" data-content="statement" title="Statement">Statement</a>
        <a href="#!" class="i-right-arrow" data-content="biography" title="Biography">Biography</a>
        <a href="#!" class="i-right-arrow" data-content="videos" title="Videos">Videos</a>
        <a href="#!" class="i-right-arrow" data-content="contributors" title="Contributors">Contributors</a>
      </nav>

      <div class="content-wrap">
        <div class="content-container statement active" data-content="statement">
          <h4 class="header-4">Written Statement</h4>
          <div class="statement">
            <p>The President is taking aggressive steps to put Americans back to work, and restore middle-class security for decades to come.</p>
            <p>For years before the economic crisis, middle-class security had been slipping away. Wages stagnated while health care costs soared.</p>
            <p>We’ve added back 2.6 million private sector jobs as of September 2011, but there’s more work to do.</p>
            <p>When President Obama took office, he both addressed the immediate economic crisis and laid the foundation for a U.S. economy that can out-innovate and out-build the world.</p>
          </div>
        </div>

        <div class="content-container biography" data-content="biography">
          <div class="col-2 column">
            <h4 class="header-4">Biography</h4>
            
            <div class="section">
              <h5>Political Party</h5>
              <div class="content-wrapper">
                <p>Democrat</p>
              </div>
            </div>

            <div class="section">
              <h5>Education</h5>
              <div class="content-wrapper">
                <p>JD, Harvard Law School, 1991</p>
                <p>BA, Columbia University, 1983</p>
              </div>
            </div>

            <div class="section">
              <h5>Hometown</h5>
              <div class="content-wrapper">
                <p>Chicago, IL</p>
              </div>
            </div>

            <div class="section">
              <h5>Age</h5>
              <div class="content-wrapper">
                <p>08/04/1961 (52yrs old)</p>
              </div>
            </div>

          </div>

          <div class="col-2 column">
            <h4 class="header-4">Experience</h4>
            
            <div class="section">
              <h5>Professional</h5>
              <ul>
                <li>Community Organizer, Chicago, 1985</li>
                <li>Author</li>
                <li>Former Attorney, Sidley and Austin</li>
                <li>Former Professor, Constitutional Law, University of Chicago</li>
              </ul>
            </div>

            <div class="section">
              <h5>Political</h5>
              <ul>
                <li>President, United States of America, 2009-present</li>
                <li>Senator, United States Senate, 2005-2008</li>
                <li>Keynote Speaker, Democratic National Convention, 2004</li>
                <li>Senator, Illinois State Senate, 1996-2004</li>
              </ul>
            </div>

          </div>

        </div>

        <div class="content-container" data-content="videos">
          <h4 class="header-4">Videos</h4>
          <div class="video-container">
            <a href="#!" title="">
              <img src="http://www.placecage.com/c/165/120" alt="" width="165" height="120">
              <p>Video description</p>
            </a>
            <a href="#!" title="">
              <img src="http://www.placecage.com/c/165/120" alt="" width="165" height="120">
              <p>Video description</p>
            </a>
            <a href="#!" title="">
              <img src="http://www.placecage.com/c/165/120" alt="" width="165" height="120">
              <p>Video description</p>
            </a>
            <a href="#!" title="">
              <img src="http://www.placecage.com/c/165/120" alt="" width="165" height="120">
              <p>Video description</p>
            </a>
            <a href="#!" title="">
              <img src="http://www.placecage.com/c/165/120" alt="" width="165" height="120">
              <p>Video description</p>
            </a>
            <a href="#!" title="">
              <img src="http://www.placecage.com/c/165/120" alt="" width="165" height="120">
              <p>Video description</p>
            </a>
          </div>
        </div>

        <div class="content-container contributors" data-content="contributors">
          <div class="top-contributors column">
            <h4 class="header-4">Top Contributors</h4>
            <ul>
              <li>
                <span class="contributor">University of California</span>
                <span class="amount">$3,392,675</span>
              </li>

              <li>
                <span class="contributor">University of California</span>
                <span class="amount">$3,392,675</span>
              </li>

              <li>
                <span class="contributor">University of California</span>
                <span class="amount">$3,392,675</span>
              </li>

              <li>
                <span class="contributor">University of California</span>
                <span class="amount">$3,392,675</span>
              </li>

              <li>
                <span class="contributor">University of California</span>
                <span class="amount">$3,392,675</span>
              </li>
            </ul>
          </div>

          <div class="financial-info column">
            <h4 class="header-4">Financial Info</h4>
            <div class="financial-graph list-item">
              <img src="/themes/voterguide/images/graph-placeholder.png" alt="">
              <div class="graph-key">
                <p class="donations">Donations</p> 
                <p class="personal">Personal</p> 
                <p class="fundraising">Fundraising</p> 
                <p class="other">Other</p> 
              </div>
            </div>
          </div>

        </div>


      </div>

    </div>
  </div>

  <div class="notes">
    <div class="inner-wrap">
      <h3 class="header-2">Notes</h3>
      <textarea placeholder="Add notes..."></textarea>
    </div>
  </div>

</div>