<div class="contest list-item grid-view">
  <img src="{{ image }}" alt="" width="300" height="200">
  <h4>{{ name }}</h4>
  <p>{{ party }}</p>
  <a class="candidate-action active" href="#!" title="candidate-action">{{ candidate_action }}</a>
  <a href="#!info" title="more information">more information</a>
</div>