<div class="large-wrap">
  <div class="left">
    <a href="{{ front_page }}" class="footer-logo ir">Democracy Live</a>
    <p class="copyright body-3">Powered By Democracy Live  |  &copy;2014 Democracy Live  |  All Rights Reserved</p>
  </div>
  <div class="right">
    <a href="#!support" class="support i-support" title="support">support</a>
  </div>
</div>