<div class="footer-top">
  <div class="inner-wrap">
    <h2>Election Night Results!</h2>
    <p>Fill out the following information and we will send you a reminder when election results are posted.</p>
    <form action="email">
      <input type="email" name="email" placeholder="Email Address">
      <input type="submit" value="submit">
    </form>
  </div>
</div>
<div class="footer-bottom">
  <div class="inner-wrap">
    <a href="{{ front_page }}" class="footer-logo ir">Democracy Live</a>
    <p class="copyright">Powered By Democracy Live  |  &copy;2014 Democracy Live  |  All Rights Reserved</p>
    <a href="#!support" class="support ir" title="support">support</a>
  </div>
</div>