<div class="large-wrap">
  <a href="{{ front_page }}" class="footer-logo ir">Democracy Live</a>
  <p class="copyright body-3">Powered By Democracy Live  |  &copy;2014 Democracy Live  |  All Rights Reserved</p>
  <a href="#!support" class="support" title="support">support</a>
</div>