<div class="login">
  <div class="forms-wrapper full-width">
    <div class="inner-wrap">

      <div class="login-form account-sidebar">        
        <h3 class="header-2">Log In</h3>
        <form action="log_in" method="get" accept-charset="utf-8">
          <div class="input-holder" tabindex="0">
            <label class="icon centered i-user-1" for="email"></label>
            <input class="email" type="email" name="" value="" placeholder="Email Address">
          </div>
          <div class="input-holder" tabindex="0">
            <label class="icon centered i-lock" for="password"></label>
            <input class="password" type="password" name="" value="" placeholder="Password">
          </div>
          <input type="submit" name="" value="Log In">
        </form>
        <a href="#!" class="large-button fb">Log in with Facebook</a>
        <p class="italic body-3">Don’t worry. We won’t post anything to social networks without your permission.</p>
      </div>

      <div class="signup-form account-sidebar">        
        <h3 class="header-2">Sign Up</h3>
        <form action="sign_up" method="post" accept-charset="utf-8">
          <input class="first-name inline" type="text" name="" value="" placeholder="First Name">
          <input class="last-name inline" type="text" name="" value="" placeholder="Last Name">
          <input class="email full-width" type="email" name="" value="" placeholder="Email Address">
          <input class="password full-width" type="password" name="" value="" placeholder="Password">
          <input type="submit" name="" value="Sign Up!">
        </form>
          <p class="medium-1">Or</p>
          <a href="#!" class="large-button fb">Sign up with Facebook</a>
          <p class="italic body-3">Easy one click sign in. We won't post anything without your permission.</p>
      </div>

    </div>
  </div>

  <div class="footer-promo inner-wrap">
    <h2 class="header-2 i-star">Save All of Your Favorites</h2>
    <p class="body-1-light">Create an account to easily save all of your activity to your list of favorites. YourBallot&trade; is an online balloting technology that makes it easy for voters to stay informed. Sed commodo ultricies diam, quis aliquam tellus facilisis a. Nam vel ante eget nisi iaculis ullamcorper. Etiam in pellentesque sem, at mollis velit. Nullam blandit eleifend commodo.</p>
  </div>

</div>