<div class="proposition">
  <div class="left">
    <h4>{{ name }}</h4>
    <p>{{ party }}</p>
    <a href="#!info" title="Find Out More">Find Out More</a>
  </div>
  <div class="right">
    <div class="action-wrapper">
      <div class="action positive">
        <p>yes</p>
        <a class="candidate-action active" href="#!" title="candidate-action">{{ candidate_action }}</a>
      </div>
      <div class="action negative">
        <p>no</p>
        <a class="candidate-action" href="#!" title="candidate-action">{{ candidate_action }}</a>
      </div>
    </div>
  </div>
</div>