<div class="account">
  <div class="full-width">
    <div class="header inner-wrap">
      <h2>hi {{ name }}</h2>
      <a href="#!" title="Your Account">Your Account</a>
    </div>
    <div class="tagline">
      <p>Your ballot below contains all contests and measures that will appear on your actual ballot this election. Click on the information icon for each candidate to learn more.  Save a candidate or measure by clicking on the star to save to your list of favorites then download a reference sheet of your favorite candidates for easy review when voting.</p>
      <a href="#!" class="button" title="view your ballot">view your ballot</a>
    </div>
    <div class="account-item">
      <h2>Settings</h2>
      <a href="#!" class="sub-link edit" title="edit">Edit</a>
      <input type="text" name="name" value="name" placeholder="name">
      <input type="email" name="" value="" placeholder="Email Address">
      <input type="password" name="" value="" placeholder="Password">
    </div>
    <div class="account-item">
      <h2>Location</h2>
      <a href="#!" class="sub-link edit" title="edit">Edit</a>
      <input type="text" name="address" value="address" placeholder="address">
    </div>
    <div class="account-item">
      <h2>Facebook</h2>
      <a href="#!" class="sub-link edit" title="edit">Edit</a>
      <input type="text" name="off" value="off" placeholder="off">
    </div>
  </div>
</div>